#bannerimage {
    width: 100%;
    background-image: url("../images/leroyfront.jpg");
    height: 405px;
    background-position: center;
}

header {
    background-color: #80adcb; 
    color: #005b96;
    padding: 30px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 25%;
}
.grid-item {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: lightblue;
}

.header-section {
    grid-column: 1 / span 3;
    grid-row: 1;
    border-color: rgb(104, 175, 237);
    border-style: solid;
}
.maincontent-section {
    grid-column: 1 / span 2;
    grid-row: 1;
    border-color: rgb(104, 175, 237);
    border-style: solid;
}
.image1-section {
    grid-column: 3 / span 1;
    grid-row: 1;
    background-color: #4A90E2;
    border-color: rgb(104, 175, 237);
    border-style: solid;
}

.maincontent2-section {
    grid-column: 2 / span 2;
    grid-row: 2;
    background-color: #4A90E2;
    border-color: rgb(104, 175, 237);
    border-style: solid;
}

.image2-section {
    grid-column: 1 / span 1;
    grid-row: 2;
    background-color: #4A90E2;
    border-color: rgb(104, 175, 237);
    border-style: solid;
}

.bottomvid {
    grid-column: 2 / span 1;
    grid-row: 4;
    background-color: lightpink;
    border-color: blue;
    border-style: dashed;
}
footer {
    background-color: #4A90E2; 
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-style: solid;
}